@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}





/*##### EXPERIENCE SECTION #####*/
.experience {
  background: none;
  padding: 50px 0;
  overflow-x: hidden;
}
.experience .content {
  text-align: center;
}
.experience .content h1 {
  font-size: 2em;
  color: #fff;
}
.experience .content ul {
  padding: 50px 0;
  list-style-type: none;
}
.experience .content ul li {
  background: #0bceaf;
  position: relative;
  margin-left: 20px;
  width: 5px;
  padding-bottom: 40px;
}
.experience .content ul li:last-child {
  padding-bottom: 7px;
}
.experience .content ul li:before {
  content: "";
  background: #1a1a1a;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 4px solid #0bceaf;
}
.experience .content ul li .hidden {
  opacity: 0;
  margin-left: 10vw;
}
.experience .content ul li .experience-content {
  background: #2c2f2e;
  position: relative;
  top: 7px;
  left: 48px;
  width: calc(100vw - 100px);
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 0 5px 5px;
  -moz-border-radius: 0 5px 5px;
  border-radius: 0 5px 5px;
  border: 2px solid #0bceaf;
}
.experience .content ul li .experience-content h2 {
  font-size: 1.5em;
  color: white;
  padding-bottom: 10px;
}
.experience .content ul li .experience-content .experience-time {
  color: #777;
  font-size: 1em;
  padding-bottom: 10px;
}
.experience .content ul li .experience-content p {
  color: white;
  font-size: 0.95em;
}
.experience .content ul li .experience-content:before {
  content: "";
  background: #f9f9f9;
  position: absolute;
  top: 0;
  left: -35px;
  width: 35px;
  height: 5px;
}



/* ############################
        RESPONSIVE
############################### */

@media screen and (min-width: 960px) {
  .experience .content ul li {
    margin: 0 auto;
  }
  .experience .content ul li .experience-content {
    width: 40vw;
  }
  .experience .content ul li:nth-child(odd) .experience-content {
    left: 63px;
  }
  .experience .content ul li:nth-child(odd) .experience-content:before {
    left: -50px;
    width: 50px;
  }
  .experience .content ul li:nth-child(even) .experience-content {
    left: calc(-40vw - 57px);
    -webkit-border-radius: 5px 0px 5px 5px;
    -moz-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
  }
  .experience .content ul li:nth-child(even) .experience-content:before {
    left: auto;
    right: -50px;
    width: 50px;
  }
  .experience .content ul li:nth-child(odd) .hidden {
    margin-left: 10vw;
  }
  .experience .content ul li:nth-child(even) .hidden {
    margin-left: -10vw;
  }

}